<%- include('./partials/header.ejs') %>
<div id="app" class="bg-gradient-to-r from-lime-300 to-indigo-200 mt-4">
    <div class="w-9/12 m-auto py-16 min-h-screen flex items-center justify-center">
        <div class="bg-white shadow overflow-hidden sm:rounded-lg pb-8">
            <div class="border-t border-gray-200 text-center pt-8">
                <h1 class="text-9xl font-bold text-blue-600">500</h1>
                <h1 class="text-6xl font-medium py-8">Bah alors ! Nos serveurs sont en pleine fiesta, ça décoiffe un peu. Nos experts sont déjà sur le coup pour les calmer. Reviens dans un instant ou explore d'autres coins de notre royaume numérique. Merci de ta patience !</h1>
                <p class="text-2xl pb-8 px-12 font-medium">Oups ! </p>
                    <a href="/">
                        <button class="bg-gradient-to-r from-indigo-400 to-blue-600 hover:from-yellow-600 hover:to-amber-600 text-white font-semibold px-6 py-3 rounded-md mr-6">
                            Accueil
                        </button>
                    </a>                    
            </div>
        </div>
    </div>
</div>
<script src="js/app.js"></script>
<%- include('./partials/footer.ejs') %>