<%- include('./partials/header.ejs') %>
    <div class="container-fluid">
        <h1>À propos de Image converter</h1>
        <p class="lead">
            Bienvenue sur <span class="fw-bold">Image converter</span>, une plateforme en ligne pour la conversion facile et rapide d'images en différents formats. Nous sommes une équipe passionnée de développeurs et de designers qui visent à fournir des outils simples mais puissants pour répondre à vos besoins de conversion d'images.
            <br><br>
            Nous comprenons que la conversion d'images peut parfois être un processus fastidieux et compliqué. C'est pourquoi nous avons créé cette plateforme en ligne pour simplifier ce processus pour vous. Avec notre outil convivial et notre interface intuitive, vous pouvez convertir vos images en quelques clics seulement, sans avoir besoin d'une expertise technique avancée.
            <br><br>
            Notre mission est de fournir une solution pratique et fiable pour vos besoins de conversion d'images. Nous nous engageons à garantir la qualité de nos services et à répondre à vos besoins de manière rapide et efficace.
            <br><br>
            Nous sommes impatients de vous aider à convertir vos images et à améliorer votre expérience en ligne avec notre plateforme. Si vous avez des questions ou des commentaires, n'hésitez pas à nous contacter via notre page de contact.
            <br><br>
            Merci de choisir <span class="fw-bold">Image converter</span>.

            L'équipe de Kontiki dev
        </p>
    </div>
<%- include('./partials/footer.ejs') %>