<%- include('./partials/header.ejs') %>
    <div class="container-fluid">
        <h1>À propos de Flashnote</h1>
        <p class="lead">
            Flashnote est une application qui a pour objectif de m'entrainner à NodeJS. J'ai essayé de pratiquer en construisant cette application.<br>
            Elle utilise NodeJS bien évidement avec le framework Express. J'utilise Mongodb comme base de donnée pour stocker les notes.
        </p>
    </div>
<%- include('./partials/footer.ejs') %>