<%- include('./partials/header.ejs') %>
    <div class="container-fluid">
        <h1 class="px-2 py-4 bg-red-400">Convertisseur d'image</h1>
        <div class="p-4">
            <form action="">
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Image multiple</label>
                    <input class="form-control" type="file" id="formFileMultiple" multiple>
                </div>
            </form>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>